<div class="b-main-content">
  <div class="b-mc-news b-mc-news_large">
    <h3><%= t 'departments.position' %></h3>
  </div>
  <div class="tabs_about">

    <div class="about_block"   >


      <div class="clear"></div>
      <div class="google_map_box">
        <%= raw @department.map %>
      </div><!--end google_map_box-->

    </div><!--end about_block-->

    <% @departments.each do |department| %>
        <% if department == Department.last%>
            <div class="show_on_map show_on_map_last">
              <div class="show_on_map_block">
                <article>
                  <header>
                    <span><%= t 'departments.addres' %></span>
                  </header>
                  <%= raw department.addres %>
                </article>
              </div><!--end show_on_map_block-->
              <div class="show_on_map_block">
                <article>
                  <header>
                    <span><%= t 'departments.work-time' %></span>
                  </header>
                  <%= raw department.worktime %>
                </article>
              </div><!--end show_on_map_block-->
              <a href=<%= department_path(department.id) %> title="Показать на карте" class="show_on_map_link"><span><%= t 'departments.show-on-map' %></span></a>

            </div><!--end show_on_map-->

        <% else %>
            <div class="show_on_map">
              <div class="show_on_map_block">
                <article>
                  <header>
                    <span><%= t 'departments.addres' %></span>
                  </header>
                  <%= raw department.addres %>
                </article>
              </div><!--end show_on_map_block-->
              <div class="show_on_map_block">
                <article>
                  <header>
                    <span><%= t 'departments.work-time' %></span>
                  </header>
                  <%= raw department.worktime %>
                </article>
              </div><!--end show_on_map_block-->
              <a href=<%= department_path(department.id) %> title="Показать на карте" class="show_on_map_link"><span><%= t 'departments.show-on-map' %></span></a>

            </div><!--end show_on_map-->
        <% end %>
    <% end %>
    <div class="clear" style=" border-bottom: 0"></div>
  </div>
</div>