<script>


    $(".b-main-slider_switches").live("click", function () {  $('.cycle-slideshow').cycle('pause');
    });



</script>

<div class="b-main-slider">
  <div class="cycle-slideshow" data-cycle-speed="750" data-cycle-timeout="3000" data-cycle-slides="> div" data-cycle-pager=".b-main-slider_switches">


    <% @pages.each do |page| %>
    <div class="b-main-slider_item">
      <div class="b-main-slider_imgs">
        <%= image_tag page.image_url(:index) if page.image? %>
      </div>
        <% if page.show_time.present? %>
         <div class="b-days-left"><span class="days"><%= date(page) %></span> <%= Russian.p(date(page), "день", "дня", "дней") %></div>
        <% end %>
      <div class="b-main-slider_slide-descr">
        <h2><%= page.title %></h2>
        <p><%= truncate(page.text, :length=>150) %></p>

        <%= link_to 'Узнать больше!', page_path(page), :class=>"b-more-btn"  %>

      </div>
    </div>

    <% end %>

  </div>
  <div class="b-main-slider_switches"></div>
</div>

<div class="b-add-sections">
  <a href="<%= streets_path%>" class="b-add-sections_box">
    <span class="ico1"></span>
    <h4>Карта<br>покрытия</h4>
    <span class="link">Смотреть карту</span>
  </a>
  <a href= "<%= departments_path%>" class="b-add-sections_box">
    <span class="ico2"></span>
    <h4>Абонентские<br>отделы</h4>
    <span class="link">Смотреть</span>
  </a>
  <a href="<%= prices_path%>" class="b-add-sections_box">
    <span class="ico3"></span>
    <h4>Наши<br>тарифы</h4>
    <span class="link">Читать далее</span>
  </a>
</div>

<div class="b-main-content">
  <div class="b-mc-news">
    <h3>Новости:</h3>
    <div class="b-mc-news_col">
      <div class="date ico1"><%= @post_calendar.created_at.strftime("%d.%m.%y") %></div>
      <p><%= truncate(@post_calendar.text, :length => 100) %></p>
      <%=  link_to 'Читать далее', post_path(@post_calendar)%>
    </div>
    <div class="b-mc-news_col">
      <div class="date ico2"><%= @post_break.created_at.strftime("%d.%m.%y") %></div>
      <p><%= truncate(@post_break.text, :length => 100) %></p>
      <%=  link_to 'Читать далее', post_path(@post_break)%>
    </div>
    <div class="clear"></div>
  </div>
  <div class="b-mc-about">
    <h3>О компании:</h3>
    <p class="b-mc-about_col"><%=  @about.discription1 %></p>
    <p class="b-mc-about_col"><%=  @about.discription2 %></p>
  </div>
  <div class="clear"></div>
</div>







