<h1>Editing about</h1>

<%= render 'form' %>

<%= link_to 'Show', @about %> |
<%= link_to 'Back', abouts_path %>




<h1>Listing abouts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Discription1</th>
    <th>Discription2</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @abouts.each do |about| %>
      <tr>
        <td><%= about.title %></td>
        <td><%= about.discription1 %></td>
        <td><%= about.discription2 %></td>
        <td><%= image_tag about.image_url(:thumb) if about.image? %></td>
        <td><%= link_to 'Show', about %></td>
        <td><%= link_to 'Edit', edit_about_path(about) %></td>
        <td><%= link_to 'Destroy', about, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New About', new_about_path %>
