<%  @sposob = AddPrice.where(title:"Способы подключения:")
    @cena = AddPrice.where(title:"Price")
    @all_cliant = AddPrice.where(title:"Для всех наших клиентов:")
    @note = AddPrice.where(title:"Примечания:")
%>
<div class="b-mc-news">
  <h3>Способы подключения:</h3>
</div><!--end payment_block-->
<div class="connection">
  <span>Цена подключения:<em><strong><%= @cena[0].price%></strong> грн</em></span>
  <%=raw @sposob[0].text%>
</div><!--end connection-->
<div class="clear"></div>
<div class="b-mc-news b-mc-news_half">
  <h3>Для всех наших клиентов:</h3>
  <div class="icon"></div>
  <%=raw @all_cliant[0].text%>
</div><!--end b-mc-news-->
<div class="b-mc-news b-mc-news_half">
  <h3>Примечания:</h3>
  <div class="icon"></div>
  <%=raw @note[0].text%>
</div><!--end b-mc-news-->
<a href="#large_more" class="large_more"><span>Дополнительно</span><em></em></a>
<div class="clear"></div>
<div class="scroll">
  <div class="scroll_box">
    <table class="table">
      <tr>
        <td width="35"></td>
        <td width="578">Описание</td>
        <td><span>Цена</span></td>
      </tr>
      <% @nomer=1  %>
      <% @prices.where(tarif_type:4).each do |price| %>
      <tr style="height: 40px;">
        <td width="35"><%=  @nomer %></td>
        <td width="578"><%= price.title %></td>
        <td><span><%= price.cena %></span></td>
      </tr>
          <% @nomer = @nomer+1 %>
      <% end %>
    </table>
  </div>
  <div style="display:block;"><a id="large_more"></a></div>
</div>

