<table class="table_center">
  <tr class="title_table">
    <td width="35"></td>
    <td width="290"><%= t 'prices.price-pacage'%></td>
    <td width="160" class="center_td"><%= t 'prices.speed'%>, <%= t 'prices.mbs'%> <sup>2</sup></td>
    <td width="160" class="center_td"><%= t 'prices.unlimited-access'%></td>
    <td width="" class="center_td"><%= t 'prices.price'%></td>
    <td width="" class="center_td"><%= t 'prices.connection'%></td>
  </tr>
  <% @nomer=1  %>
  <% @prices.where(tarif_type:2).each do |price| %>
  <tr>
    <td width="35"><%=  @nomer %></td>
    <td width="290"><%= raw price.title %></td>
    <td width="160" class="center_td"><%= price.dspid %>/<%= price.uspid %></td>
    <td width="160" class="center_td"><%= t 'prices.unlimited-access'%></td>
    <td width="" class="center_td"><%= price.cena %></td>
    <td width="" class="center_td connetions"><a href="#"><%= t 'prices.connection'%></a></td>
  </tr>
      <% @nomer = @nomer+1 %>
  <% end %>
</table>
<div class="note note_float">
  <%= t 'prices.text1'%> <strong><%= t 'prices.strong1'%></strong><%= t 'prices.text2'%><strong><%= t 'prices.strong2'%></strong>



</div><!--end note-->
<div class="b-mc-news">
  <h3><%= t 'prices.notes'%></h3>
</div><!--end payment_block-->
<div class="connection">
  <p><%= t 'prices.connection1'%><br>
    <%= t 'prices.connection2'%><br>
    <%= t 'prices.connection3'%><br>
    <%= t 'prices.connection4'%><br>
    <%= t 'prices.connection5'%></p>
</div><!--end connection-->
