<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :cena %><br />
    <%= f.text_field :cena %>
  </div>
  <div class="field">
    <%= f.label :dspid %><br />
    <%= f.text_field :dspid %>
  </div>
  <div class="field">
    <%= f.label :uspid %><br />
    <%= f.text_field :uspid %>
  </div>
  <div class="field">
    <%= f.label :usualorhot %><br />
    <%= f.check_box :usualorhot %>
  </div>
  <div class="field">
    <%= f.label :tarif_type %><br />
    <%= f.text_field :tarif_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
