<div class="block">
  <% @prices.where(tarif_type:"3l").each do |price| %>
      <div class="block_title">e-Style<sup>TM</sup>  <span><td><%= price.title %></td></span></div>
      <div class="block_center">
        <div class="block_content">
          <div><strong><%= t 'prices.speed'%></strong></div>
          <p>Download: 	<span><%= price.dspid %> <em><%= t 'prices.mbs'%></em></span></p>
          <p>Upload:		<span><%= price.uspid %><em><%= t 'prices.mbs'%></em></span></p>
          <div class="line"></div>
          <div class="price_block"><strong><%= t 'prices.price'%></strong> <span><%= price.cena %> <em><%= t 'prices.grnmun'%></em></span></div>
          <a href="#" title="Подключиться" class="show_on_map_link connetions"><span><%= t 'prices.connection'%></span></a>
        </div><!--end block_content-->
      </div><!--end block_center-->
      </div><!--end block-->
  <% end %>
  <% @prices.where(tarif_type:"3c").each do |price| %>
      <div class="block block_best">
        <div class="block_title">e-Style<sup>TM</sup>  <span><%= price.title %></span></div>
        <div class="block_center">
          <div class="block_content">
            <div><strong><%= t 'prices.speed'%></strong></div>
            <p>Download: 	<span><%= price.dspid %> <em><%= t 'prices.mbs'%></em></span></p>
            <p>Upload:		<span><%= price.uspid %><em><%= t 'prices.mbs'%></em></span></p>
            <div class="line"></div>
            <div class="price_block"><strong><%= t 'prices.price'%></strong> <span><%= price.cena %> <em><%= t 'prices.grnmun'%></em></span></div>
            <center><%= t 'prices.best'%></center>
            <a href="#" title="Подключиться" class="show_on_map_link connetions"><span><%= t 'prices.connection'%></span></a>
          </div><!--end block_content-->
        </div><!--end block_center-->
      </div><!--end block-->
  <% end %>
  <% @prices.where(tarif_type:"3r").each do |price| %>
      <div class="block">
        <div class="block_title">e-Style<sup>TM</sup>  <span><%= price.title %></span></div>
        <div class="block_center">
          <div class="block_content">
            <div><strong><%= t 'prices.speed'%></strong></div>
            <p>Download: 	<span><%= price.dspid %> <em><%= t 'prices.mbs'%></em></span></p>
            <p>Upload:		<span><%= price.uspid %><em><%= t 'prices.mbs'%></em></span></p>
            <div class="line"></div>
            <div class="price_block"><strong><%= t 'prices.price'%></strong> <span><%= price.cena %> <em><%= t 'prices.grnmun'%></em></span></div>
            <a href="#" title="Подключиться" class="show_on_map_link connetions"><span><%= t 'prices.connection'%></span></a>
          </div><!--end block_content-->
        </div><!--end block_center-->
      </div><!--end block-->
  <% end %>
   <div class="note">
     <%= t 'prices.connection'%> <span>*</span><br><%= t 'prices.note1'%><br><%= t 'prices.note2'%>
  </div><!--end note-->