    <div class="b-main-content">
<div class="b-mc-news">
  <h3>Новости:</h3>

</div>


<div class="clear"></div>

<% @posts.each do |post| %>
<article class="news">
  <%=link_to (image_tag post.image_url(:small_post)),post_path(post), :class=>"news_image", :title=> post.title%>
  <header>
    <%=  link_to post.title, post_path(post), :class=>"news_title" %>
  </header>
  <p><%= truncate(post.text, :length => 200) %></p>
  <%=  link_to 'Читать далее', post_path(post), :class=>"news_more "%>
</article><!--end news-->

<% end %>

<div class="flickr_pagination  ">
  <%= will_paginate @posts, previous_label: h("<"), next_label: h(">") %>

</div><!--end paginator-->
<div class="clear"></div>

</div>

