<div class="b-main-content">
<div class="main_item">
  <div class="b-main-slider">
    <div class="cycle-slideshow" data-cycle-speed="500" data-cycle-timeout="0" data-cycle-slides="> div" data-cycle-pager=".b-main-slider_switches">


      <div class="b-main-slider_item">
        <div class="b-main-slider_imgs">
          <%= image_tag @post.image_big_url(:big_post)%>
        </div>
      </div>



      <% @post_images.each do |post_im| %>
      <div class="b-main-slider_item">
        <div class="b-main-slider_imgs">
          <%= image_tag post_im.image_url(:big_post)%>
        </div>
      </div>
      <% end %>
    </div>

    <div class="b-main-slider_switches"></div>
  </div><!--end b-main-slider-->
  <article class="news_item">
    <header>
      <h1><%= @post.title %></h1>

    </header>
    <a href="javascript:history.back()" title="" class="back_link"><span><%= t 'posts.back'%></span></a>
    <div class="clear"></div>
    <p><%= markdown(@post.text) %></p>
      </article><!--end news_item-->
  <div class="clear"></div>
</div><!--end main_item-->
<a href=<%= post_path(@previous) %> title="" class="prev_post"><span><%= t 'posts.previous'%></span></a>
<a href=<%= post_path(@next) %> title="" class="next_post"><span><%= t 'posts.next'%></span></a>



<div class="clear"></div>
</div>




