

<%= form_for @message, :url => contact_path, :html => { :class => "contact"} do |form| %>
    <label>Имя:<span>*</span></label>
    <%= form.text_field( :name, :class=>"contactlabel") %>
    <label>Фамилия:<span>*</span></label>
    <%= form.text_field(:surname, :class=>"contactlabel") %>
    <label>Отчество:</label>
    <%= form.text_field :patronymic %>
    <label>Улица:<span>*</span></label>
    <select name="message[street]" class="default" id="message_street" include_blank="true">
      <%= Street.order(:name).all.each do |st| %>
          <% if st.builds.present? %>
              <option value="<%= st.id %>"> <%=  st.name %> </option>
          <% end %>
      <% end %>
    </select>
    <label>Дом:<span>*</span></label>
    <%= form.text_field :house %>
    <label>Квартира:<span>*</span></label>
    <%= form.text_field :apartment %>
    <label>E-Mail:</label>
    <%= form.text_field :email %>
    <label>Телефон:<span>*</span></label>
    <%= form.text_field :phone %>
    <label>Сообщение:</label>
    <%= form.text_area :message %>
    <a href="#" title="" class="clear_inputs" onClick="document.forms['subform'].reset()">Очистить</a>
    <%= form.submit "Отправить", :class=>"contactb" %>
    <%  if params[:notice].present? %>
    <div class="send">Ваше сообщение успешно отправлено. Ждите звонка оператора, спасибо!</div>
    <% end %>
<% end %>

