<% cache do %>

<%= form_for @message, :url => contact_path, :html => { :class => "contact"} do |form| %>
    <div class="send" style="display: none"><%= t 'contact.after-send' %></div>
    <label><%= t 'contact.name' %>:<span>*</span></label>
    <%= form.text_field( :name, :class=>"contactlabel") %>
    <label><%= t 'contact.surname' %>:<span>*</span></label>
    <%= form.text_field(:surname, :class=>"contactlabel") %>
    <label><%= t 'contact.patronymic' %>:</label>
    <%= form.text_field :patronymic %>
    <label><%= t 'contact.street' %>:<span>*</span></label>
    <%= form.collection_select :street, street(), :id, :name%>
    <label><%= t 'contact.house' %>:<span>*</span></label>
    <%= form.text_field :house %>
    <label><%= t 'contact.flat' %>:<span>*</span></label>
    <%= form.text_field :apartment %>
    <label><%= t 'contact.email' %>:</label>
    <%= form.text_field :email %>
    <label><%= t 'contact.phone' %>:<span>*</span></label>
    <%= form.text_field :phone %>
    <label><%= t 'contact.message' %>:</label>
    <%= form.text_area :message %>
    <a href="#" title="" class="clear_inputs" onClick="document.forms['subform'].reset()"><%= t 'contact.clear' %></a>
    <%= form.submit "#{t 'contact.send'}", :class=>"contactb" %>



<% end %>
<% end %>
<script>

    $("#message_street").addClass("default");
</script>