<script>




        $(document).ready(function() {
            var flag = false;
            var array = '<%= raw @str %>'.replace(/\"/g, ' ').replace(/\[/g, ' ').replace(/\]/g, ' ').split(",")
            var l = array.length;
            var src = [];

            for (var i = 0; i < l; i++) {
                src.push(array[i].replace(/^\s+/, "").replace(/\s+$/, ""));
            }
            $( "#message_street" ).autocomplete({
                source: src
            });
        });
</script>
<script>
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    $(window).load(function () {



        $("#message_street").addClass("default");
        if (getUrlVars()["notice"] == "OK") {$(".send").css("display", "block");}


    });

</script>
<% @info = AddPrice.where(title:"Контактная информация страница контакты") %>
<div class="b-main-content">
  <div id="sidebar">
    <aside>
      <div class="contact_form_description">
        <p><span>*</span><%= t 'contact.add-info1' %></p>
        <p><span>**</span> <%= t 'contact.add-info2' %></p>
        <%@pdf = PdfFile.all %>
        <% @pdf.each do |pdf| %>
            <div class="our_services jobs">
              <a href=<%=pdf.file %> class="pdf" target="_blank"><%= pdf.title%><span><%= pdf.siza%></span></a>
        <% end %>
      </div><!--end contact_form_description-->
    </aside>
  </div><!--end sidebar-->
  <div class="about">


    <div class="top_popups_container">
      <%= t 'contact.contact-info' %>
    </div><!--end top_popups_container-->


    <div class="clear contacts" >

      <%=raw @info[0].text%>

    </div><!--end center_popups_container-->




    <div class="top_popups_container">
      <%= t 'contact.request' %>
    </div><!--end top_popups_container-->
    <div class="center_popups_container">

        <%= render 'form' %>

    </div><!--end center_popups_container-->

  </div><!--end about-->
  <div class="clear"></div>
</div>





