<script>




        $(document).ready(function() {
            var flag = false;
            var array = '<%= raw @str %>'.replace(/\"/g, ' ').replace(/\[/g, ' ').replace(/\]/g, ' ').split(",")
            var l = array.length;
            var src = [];

            for (var i = 0; i < l; i++) {
                src.push(array[i].replace(/^\s+/, "").replace(/\s+$/, ""));
            }
            $( "#message_street" ).autocomplete({
                source: src
            });
        });
</script>
<% @info = AddPrice.where(title:"Контактная информация страница контакты") %>
<div class="b-main-content">
  <div id="sidebar">
    <aside>
      <div class="contact_form_description">
        <p><span>*</span> Обязательно для заполнения</p>
        <p><span>**</span> Данная форма не является заключением договора на подключение. По данной форме будет выполнена проверка технической возможности подключения по указанному адресу.</p>
        <%@pdf = PdfFile.all %>
        <% @pdf.each do |pdf| %>
            <div class="our_services jobs">
              <a href=<%=pdf.file %> class="pdf" target="_blank"><%= pdf.title%><span><%= pdf.siza%></span></a>
        <% end %>
      </div><!--end contact_form_description-->
    </aside>
  </div><!--end sidebar-->
  <div class="about">


    <div class="top_popups_container">
      Контактная информация:
    </div><!--end top_popups_container-->


    <div class="clear contacts" >

      <%=raw @info[0].text%>

    </div><!--end center_popups_container-->




    <div class="top_popups_container">
      Заявка на подключение:
    </div><!--end top_popups_container-->
    <div class="center_popups_container">

        <%= render 'form' %>

    </div><!--end center_popups_container-->

  </div><!--end about-->
  <div class="clear"></div>
</div>





