    <ul id="mycarousel">
      <% @quides = Quide.order('ochered') %>
      <% @quides.each do |quide| %>
          <li><a href="#tabs-<%= quide.ochered %>"><strong><%= quide.name %></strong> <%= quide.surname %> <span><%= quide.post %></span></a></li>
      <% end %>

    </ul>
   <% @quides.each do |quide| %>
        <div class="about_block" id="tabs-<%= quide.ochered %>">
          <div style="text-align:center;
                  vertical-align:middle; "><%= image_tag quide.image_url(:quide) if quide.image? %></div></br> </br>
          <%= quide.info %>
        </div><!--end about_block-->
    <% end %>








