<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quide.name %>
</p>

<p>
  <b>Post:</b>
  <%= @quide.post %>
</p>

<p>
  <b>Image:</b>


  <%= image_tag @quide.image_url(:thumb) if @quide.image? %>


  <%= @quide.image %>
</p>

<p>
  <b>Info:</b>
  <%= @quide.info %>
</p>


<%= link_to 'Edit', edit_quide_path(@quide) %> |
<%= link_to 'Back', quides_path %>
