<footer class="b-main-footer">
  <div class="b-main-inner">
    <div class="b-foot-logo">
      <%= link_to image_tag("foot-logo.png"), pages_path %>
      <div class="b-foot-phone">048 797 22 33</div>
    </div>
    <ul class="b-foot-nav">
      <li><%= link_to 'Тарифы', prices_path %></li>
      <li><%= link_to 'О нас', abouts_path %></li>
      <li><%= link_to 'Форум', 'http://forum.icn.od.ua/', :target=>"_blank" %></li>
    </ul>
    <a href="<%= streets_path %>" title="" class="b-foot-map">
      <span class="ico"></span>
      <h4>Карта покрытия</h4>
      <span class="link">Смотреть карту</span>
    </a>
    <div class="b-foot-social">
      <h4>Мы в социальных сетях</h4>
      <%= link_to image_tag("facebook.png"), "http://www.facebook.com/icn.ua?fref=ts", :class=>"social-link", :width=>"16", :height=>"16", :target=>"_blank" %>
      <%= link_to image_tag("twitter.png"), "https://twitter.com/", :class=>"social-link", :width=>"16", :height=>"16", :target=>"_blank" %>
      <%= link_to image_tag("vkontakte.gif"), "http://vk.com/icn_official", :class=>"social-link", :width=>"16", :height=>"16", :target=>"_blank" %>
    </div>
      <%= link_to image_tag("hb.png"), "http://hb.od.ua", :height=>"18", :target=>"_blank" %>
  </div>
 </footer>