<div id="sidebar">
<aside>
  <ul>
    <li><%= link_to "О нас","p/about" %> </li>
    <li><%= link_to "Руководство компании","quides" %> </li>
    <li><%= link_to "Наши заслуги","services" %></li>
    <li><%= link_to "Миссия","" %>  </li>
    <li><%= link_to "Вакансии","jobs" %></li>


  </ul>
</aside>
</div><!--end sidebar-->