<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<html>
<head>
  <title>ICN</title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "foundation.css", :media => "all" %>

  <%= stylesheet_link_tag "active_admin/editor/wysiwyg" %>
  <%= stylesheet_link_tag "app.css" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.dropkick" %>
  <%= javascript_include_tag  "script" %>
  <%= javascript_include_tag "jquery.jcarousel.min" %>
  <%= javascript_include_tag "modernizr.foundation" %>
  <%= javascript_include_tag "cufon-yui" %>
  <%= javascript_include_tag "fonts" %>
  <%= javascript_include_tag "validate" %>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function() {
        $('.b-head-bot-nav-list').children('li').each(function(index, element) {
            var url = window.location;
            if($(element).find('a').attr('href') == url.pathname)
                $(element).addClass('active');
        });
    });
</script>
<a href="http://unitedcountry.com.ua"><img style="border: 0; position: absolute; right: 0; top: 0; z-index: 105;" src="http://unitedcountry.com.ua/img/3" alt="Єдина Країна! Единая Страна!"></a>
<div class="b-main-wrapper">
  <%= render 'layouts/header' %>
  <div class="b-main-container">
    <div class="b-main-inner">

        <%= yield %>

    </div>

  </div>
  <%= render 'layouts/footer' %>
</div>
<%= render 'layouts/popups' %>
<%= javascript_include_tag "jquery.ui.all" %>
<%= javascript_include_tag "jquery.cycle2.min" %>
<%= javascript_include_tag "app" %>
</body>
</html>