<!DOCTYPE html>
<html>
<head>
  <title>IcnSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "active_admin/editor/wysiwyg" %>


  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui" %>

  <%= javascript_include_tag "app" %>




  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function() {
        $('.b-head-bot-nav-list').children('li').each(function(index, element) {
            var url = window.location;
            if($(element).find('a').attr('href') == url.pathname)
                $(element).addClass('active');
        });
    });
</script>

<div class="b-main-wrapper">
  <%= render 'layouts/header' %>
  <div class="b-main-container">
    <div class="b-main-inner">




      <%= yield %>


    </div>

  </div>
  <%= render 'layouts/footer' %>




</div>
<%= render 'layouts/popups' %>








</body>
</html>