<!DOCTYPE html>
<html>
<head>
  <title>IcnSite</title>
  <%= stylesheet_link_tag    "foundation.css", :media => "all" %>

  <%= stylesheet_link_tag "active_admin/editor/wysiwyg" %>
  <%= stylesheet_link_tag "app" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.dropkick" %>
  <%= javascript_include_tag  "script" %>
  <%= javascript_include_tag "jquery.jcarousel.min" %>
  <%= javascript_include_tag "modernizr.foundation" %>
  <%= javascript_include_tag "cufon-yui" %>
  <%= javascript_include_tag "fonts.js" %>
  <%= javascript_include_tag "fonts.js" %>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function() {
        $('.b-head-bot-nav-list').children('li').each(function(index, element) {
            var url = window.location;
            if($(element).find('a').attr('href') == url.pathname)
                $(element).addClass('active');
        });
    });
</script>

<div class="b-main-wrapper">
  <%= render 'layouts/header' %>
  <div class="b-main-container">
    <div class="b-main-inner">

        <%= yield %>

    </div>

  </div>
  <%= render 'layouts/footer' %>
</div>
<%= render 'layouts/popups' %>
<%= javascript_include_tag "jquery.ui.all" %>
<%= javascript_include_tag "jquery.cycle2.min" %>
<%= javascript_include_tag "app" %>
</body>
</html>